body{
    padding-top: 100px;
}
.container {
    height: 600px;
    border-style: solid;
    border-color: aqua;
    background-color: coral;
    border-radius: 5px;
    margin-left: 600px;
    margin-right: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enterNum{
    border-style: solid;
    width: 350px;
    height: 50px;
    margin-top: 10px;
    background-color: gray;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: dashed;
    height: 400px;
    width: 350px;
    margin: auto;
}

button{
    width: 80px;
    height: 80px;
}

#zero {
    width: 164px;
}